<HTML>
<HEAD>
<TITLE>Fullerton: Reset password</TITLE>

 
</HEAD>
<BODY>
Hello,<br><br>

We have received a request to reset your password. If you wish to reset your password, please <a href="$dataMap.get('link')" >click here</a>.<br/><br/>
  
<br><br><br><br>
Support Team<br>


<br><br><br>
<h5> *******This is an automated message. Please do not reply*******</h5>
</BODY>
</HTML>